# Miscellaneous
*.class
*.log
*.pyc
*.swp

# -------------------------
# OS / System files
# -------------------------
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.orig
*.pyc

# -------------------------
# Project misc
# -------------------------
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# Symbolication / Obfuscation
# -------------------------
app.*.symbols
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
